<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Theme" value="Light"/>
		<add key="RedMenu" value="20"/>
		<add key="GreenMenu" value="211"/>
		<add key="BlueMenu" value="164"/>
		<add key="RedLogo" value="0"/>
		<add key="GreenLogo" value="184"/>
		<add key="BlueLogo" value="137"/>
		<add key="RedOptions" value="0"/>
		<add key="GreenOptions" value="191"/>
		<add key="BlueOptions" value="144"/>
	</appSettings>
</configuration>